body, h1 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.wrapper {
	positon: relative;

	height: 100vh;
	text-align: center;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-size: 15vw;
	width: 76vw;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	span {
		&:not(:first-child) {
			&:before {
				content: ':';
				margin-right: 5%;
			}
		}
	}
}

#seconds-bar {
	margin: 0 auto;
	background-color: #ffffff;
	min-height: 3px;
	width: 0;
	transform: scaleX(1);
	transisition: all 200ms ease;
	.animating {
		transform: scaleX(1.2);
	}
}

.hidden {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.showing {
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}

